* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
}

body {
    font-family: 'Inter', sans-serif;
    color: #303030;
    font-weight: 400;
    width: 1440px;
}

header { /* Стили для хедера */
    background-color: #2965F1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    margin: 60px 0;
    min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 50px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-size: 18px;
    line-height: 22px;
}

.main-image {
    /* Стили для изображения в первой секции */
    width: 715px;
    height: 508px;
    background-size: contain
}

.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    width: 150px;
    height: 36px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    word-spacing: 10em;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    appearance: none;
    background-image: url(./Vector.svg);
    background-repeat:no-repeat;
    background-position: right 0 top 50%;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    list-style-image: url(./Marker.svg);
    padding-left: 20px;
    font-size: 16px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    list-style: decimal;
    padding-left: 20px;
    font-size: 16px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    width: 330px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    background: rgba(255, 255, 255, 0);
    font-size: 16px;
    color: rgba(48, 48, 48, 0.2);
    padding-left: 12px;
}

.btn {
    /* Стили для кнопки */
    width: 125px;
    height: 36px;
    border-radius: 5px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

.line {
    /* Стили для линии */
    border: 1px solid rgba(48, 48, 48, 0.3);
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    width: 300px;
    height: 196px;
    border: 1px solid #95a1bb;
}

th {
    /* Стили для ячеек таблицы */
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #303030; 
}

td {
    font-size: 14px;
    color: #303030;
    padding-left: 15px;
}

footer {
    /* Стили для футера */
    height: 70px;
    background: rgba(163, 167, 255, 0.3);
}

.footer-link {
    /* Стили для футера */
    color: #2965F1;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    padding: 26px 0 27px 0;
}